/* TITULARES */
h1, h2, h3, h4, .primary-title {
  font-family: "Urbanist", sans-serif;
}

h1 {
  font-size: 6rem;    
  line-height: 1.05;
  font-weight: 800;
}

h2 {
  font-size: 2.4rem;  
  line-height: 1.2;
  font-weight: 600;
}



/* CUERPO */
body, p, li, a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  color: #111;
  background: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 96px;
}

.nav-links a {
  margin: 0 24px;
  text-decoration: none;
  color: #111;
  font-size: 14px;
}

.lang span {
  margin-left: 8px;
  font-size: 14px;
  cursor: pointer;
}

.lang .active {
  font-weight: bold;
}

/* HERO */
.hero {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: clamp(4.5rem, 10vw, 8rem);
  line-height: 1;
  max-width: none;
}

.primary {
  color: #375AF6;
}

.secondary {
  color: #6DC2B2;
}

.scroll-down {
  margin-top: 40px;
  font-size: 24px;
}

.bg-text {
  background-image: url("assets/background.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (max-width: 768px) {
  .bg-text,
  .intro {
    background-attachment: scroll;
  }
}

/* Tipografías para la ñ */
.font-1 { font-family: "Inter", sans-serif; }
.font-2 { font-family: "Urbanist", sans-serif; }
.font-3 { font-family: "Playfair Display", sans-serif; }
.font-4 { font-family: "Bebas Neue", sans-serif; }
.font-5 { font-family: "Roboto Slab", sans-serif; }

.changing-tilde {
  display: inline-flex;
  justify-content: center;
  width: 1ch;              /* reserva ancho */
  line-height: 1;
  vertical-align: baseline;
  transition: opacity 0.15s ease;
}


/* INTRO */


.intro {
  position: relative;
  padding: 120px 96px;
  color: white;

  background-image: url("assets/background.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.intro::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 0;
}

.intro-content {
  position: relative;
  z-index: 1;
  max-width: 600px;
}

.intro h2 {
  margin-bottom: 24px;
}

.intro p {
  margin-bottom: 16px;
  font-size: 15px;
}

.highlight {
  font-weight: bold;
}

/* BUTTONS */
.btn-outline {
  display: inline-block;
  margin-top: 24px;
  padding: 12px 24px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  border-radius: 30px;
}

.btn-outline:hover {
  display: inline-block;
  margin-top: 24px;
  padding: 12px 24px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  background-color: #6DC2B2;
}

.btn-outline:focus {
  display: inline-block;
  margin-top: 24px;
  padding: 12px 24px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  background-color: #579B8E;
}


.btn-outline-negative {
  display: inline-block;
  margin-top: 24px;
  padding: 12px 24px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

.btn-outline-negative:hover {
  display: inline-block;
  margin-top: 24px;
  padding: 12px 24px;
  border: 1px solid #6DC2B2;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  background-color: #6DC2B2;
}

.btn-outline-negative:focus {
  display: inline-block;
  margin-top: 24px;
  padding: 12px 24px;
  border: 1px solid #579B8E;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  background-color: #579B8E;
}

.btn-full {
  display: block;
  margin: 60px auto 0;
  padding: 12px;
  /* max-width: 300px; */
  text-align: center;
  border: 1px solid #111;
  border-radius: 30px;
  text-decoration: none;
  color: #111;
}

.btn-full:hover {
  display: block;
  margin: 60px auto 0;
  padding: 12px;
  /* max-width: 300px; */
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #6DC2B2;
}

.btn-full:focus {
  display: block;
  margin: 60px auto 0;
  padding: 12px;
  /* max-width: 300px; */
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #579B8E;
}

/* PROJECTS */
.projects-preview {
  padding: 96px 96px;
}

.projects-preview h2 {
  margin-bottom: 48px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}

.project-card {
  border-radius: 16px;
}

.project-image {
  height: 200px;
  background: #eee;
  border-radius: 16px;
}

.project-info {
  margin-top: 16px;
}

/* FOOTER */
.footer {
  padding: 48px 96px 63px 96px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.footer p {
  margin: 24px 0;
}

.footer-right {
  display: flex;
  flex-direction: column; /* importante para que margin-top funcione */
  align-items: flex-end;  /* alinea a la derecha */
}

.footer-right ul {
  list-style: none;
  margin: auto 0 0 0; /* empuja hacia abajo */
  padding: 0;
  text-align: right;
}

.footer-right li {
  margin-bottom: 12px;
  font-size: 14px;
}

